In [1]:
isp=0
fsp=100
count=0
while isp<fsp:
    print("this is my speed")
    count=count+1
    if count==7:
        break

this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed

In [2]:
notes=5
i=1
j=1
while i<notes:
    print(i)
    i+=1
else:
    while j<2:
        print(i)
        j=j+1
    print("eat 5-star do nothing")

1
2
3
4
5
eat 5-star do nothing

In [3]:
s='my name is lokesh'
s

'my name is lokesh'

In [7]:
s[10:1:-1]

' si eman '

In [8]:
s[1:10:1]

'y name is'

In [13]:
s[16:0:-2]

'heo iea '

In [14]:
s="ineuron"
ss=" "
for i in range(len(s)):
    if s[i]=="n":
        continue
    else:
        ss=ss+s[i]

In [15]:
ss

' ieuro'

In [23]:
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("+ ",end="")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [2]:
n=int(input("enter number of rows: "))

for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end=' ')
    
    for j in range(2*i-1):
        print("*",end=" ")
    print()

enter number of rows: 3
*****
 ***
  *

In [5]:
def pattern(n):

    k=2*n-2
    for i in range(n,-1,-1):
        for j in range(k,0,-1):
            print(end=" ")
        k=k+1
        for j in range(0,i+1):
            print("*",end=' ')
        print("\r")
pattern(3)

    * * * *
     * * *
      * *
       *

In [7]:
##pattern programs

num-int(inp)

In [1]:
n=int(input("enter numbere of rows: "))
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for j in range(n-i):
        print("*",end=' ')
    print()

enter numbere of rows: 5
* * * * *
 * * * *
  * * *
   * *
    *

In [7]:
n=int(input("enter numbere of rows: "))
for i in range(n):
    for j in range(i):
        print(" ",end=" ")
    for j in range(2*(n-i)-1):
        print("*",end=' ')
    print()

enter numbere of rows: 4
* * * * * * *
  * * * * *
    * * *
      *

In [8]:
row=int(input("enter numbere of rows: "))
col=int(input("enter numbere of rows: "))
for i in range(row):
    for j in range(col):
        if i==0 or i==(row-1) or j==0 or j==(col-1):
            print("*",end=' ')
        else:
            print(" ",end=" ")
    print()

enter numbere of rows: 5
enter numbere of rows: 7
* * * * * * *
*           *
*           *
*           *
* * * * * * *

In [5]:
n=int(input("enter numbere of rows and columns: "))
for i in range(n):
    for j in range(n):
        if i==(n-1) or j==(n-1) or (i+j)==(n-1):
            print("*",end="")
        else:
            print(" ",end="")
    print()

enter numbere of rows and columns: 5
    *
   **
  * *
 *  *
*****

In [10]:
n=int(input("enter numbere of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print("*",end=' ')
    print()

enter numbere of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [21]:
n=int(input("enter numbere of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(2*i+1):
        print("*",end='')
    print()

enter numbere of rows: 5
    *
   ***
  *****
 *******
*********

In [2]:
n=int(input("enter the no of rows"))
i=0
while i<n:
    print(" "*(n-i-1) + " *"*(i+1))
    i=i+1

enter the no of rows3
   *
  * *
 * * *

In [7]:
n=int(input("enter the no of rows"))
i=0
while i<n:
    print(" "*(n-i-1) + "*"* (2*i+1))
    i=i+1

enter the no of rows3
  *
 ***
*****

# string manipulation

In [5]:
s="hijacked no no it is just hi kack"
for i in range(len(s)):
    print(s[i],end="")

hijacked no no it is just hi kack

In [7]:
"lokesh "+"dhoni"

'lokesh dhoni'

In [9]:
" lokesh"+str(7)

' lokesh7'

In [12]:
s="hi guys how are you"
b=s.find("how")
b

8

In [14]:
s="hi guys how are you"
b=s.find("how")
for i in range(len("how")):
    print(b+i)

8
9
10

In [19]:
s="hi jack hi y lokesh hi dhoni "
s.count("hi")

3

In [16]:
s.split()

['hi', 'jack', 'hi', 'lokesh', 'hi', 'dhoni']

In [21]:
s="hi guys hello"
s.split("y")

['hi gu', 's hello']

In [22]:
s.partition("y")

('hi gu', 'y', 's hello')

In [28]:
s="hi guys"
"x".join(s)
#except last letter it will be added to all the letter

'hxix xgxuxyxs'

In [38]:
list(reversed(s))

['s', 'y', 'u', 'g', ' ', 'i', 'h']

In [39]:
for i in reversed(s):
    print(i)

s
y
u
g

i
h

In [40]:
s="   dhoni    "

In [43]:
s.rstrip()

'   dhoni'

In [48]:
s="loki"
s.center(10,"7")

'777loki777'

In [50]:
s="loki\t hi\t sh"
s.expandtabs()

'loki     hi      sh'

In [60]:
a="we all are part of a Full Stack"
a=a.lower()
print(a)
b=a.count("a")
print("numer of a:"+str(b))
for i in range(len(a)):
    if a[i]=="a":
        print(i)
c=a.replace("a"," dhoni ")
print(c)
print(a.split())

we all are part of a full stack
numer of a:5
3
7
12
19
28
we  dhoni ll  dhoni re p dhoni rt of  dhoni  full st dhoni ck
['we', 'all', 'are', 'part', 'of', 'a', 'full', 'stack']

In [1]:
s="lokesh"
ch=len(s)-1
while ch>=0:
    print(s[ch])
    ch=ch-1

h
s
e
k
o
l

In [2]:
name="lokesh"
vowels="aAeEiIoOuU"
for i in name:
    if i in vowels:
        print("{} is a vowel ".format(i))
    else:
        print("{} is not a vowel ".format(i))

l is not a vowel
o is a vowel
k is not a vowel
e is a vowel
s is not a vowel
h is not a vowel

In [5]:
"{} name {} lokesh".format("my","is")

'my name is lokesh'

In [3]:
s=str(input("enter a strig"))
s1=s[::-1]
if s==s1:
    print("its palindrome")
else:
    print("its not a palindrome ")

enter a strighui
its not a palindrome

In [4]:
k=["dfg",45,56,"fdfh"]

In [5]:
s="lokesh"
s=list(s)

In [6]:
k+s

['dfg', 45, 56, 'fdfh', 'l', 'o', 'k', 'e', 's', 'h']

In [8]:
s=["lokesh"]
k+s

['dfg', 45, 56, 'fdfh', 'lokesh']

In [10]:
name="lokesh"
age="19"
print("my name is ",name,"and my age is",age)
print("my name is {} and my age is {}".format(name,age))

my name is  lokesh and my age is 19
my name is lokesh and my age is 19

In [11]:
a=10
print()

In [14]:
4 and 8

8

In [22]:
s=" hi lokesh"
for i in range(len(s)):
        print(s[-i])

h
s
e
k
o
l

i
h